<nav class="nav navbar col-md-12">
  <div class="nav-box  col-md-5 justify-content-center">
      <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active-tab" [routerLink]="[ '/Home']" routerLinkActive="active-tab">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isLoggedIn()" [routerLink]="[ '/About']" routerLinkActive="active-tab">About</a>
          </li>
          <li class="nav-item" *ngIf="userTitle === 'Admin'">
            <a class="nav-link" [routerLink]="[ '/Data']" routerLinkActive="active-tab">Data</a>
          </li>
        </ul>
  </div>
  <button *ngIf="!isLoggedIn()" class="btn btn-primary justify-content-end" (click)="login()">Login</button>
  <button *ngIf="isLoggedIn()" class="btn btn-danger justify-content-end" (click)="logout()">Logout</button>
</nav>
<router-outlet></router-outlet>
